body{
    background-size: cover;
}

.heading{
    margin: 0px;
    width: 100%;
    font-size: 35px;
}

.headd{
    letter-spacing: 2px;
    font-size: 25px;
    margin-top: 50px;
    justify-content: center;
    display: flex;
}

.ttnn{
    color: black;
    font-size: 30px;
    box-shadow: 5px 5px 5px  white;
}










